body {
  padding-top: 70px;
}

/* ~hero */
.hero-unit {
  background: url(../img/checklist.jpg) no-repeat center center;
  background-size: 100%;
  border: thin solid #999;
}

.hero-unit strong {
  color: rgb(144, 234, 241);
}

.hero-unit h2,
.hero-unit p {
  padding: 0.5em;
  color: white;
  background: rgba(0,0,0,0.3);
}

.hero-unit h2 {
  display: inline-block;
  text-transform: capitalize;
}

.hero-unit p {
  width: 50%;
  font-size: 0.9em;
  text-align: justify;
  line-height: 1.2em;
}

/* ~steps */
section[id^=step] > p {
  width: 70%;
}

h3 {
  color: #006dcc;
}

h3 + p {
  line-height: 1.5em;
}

/* ~course listing */
.catalog {
  font-size: 0.9em;
}

.catalog > div {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  -o-columns: 2;
}

.catalog > div > div {
  display: table;
  width: 100%;
  column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -o-column-break-inside: avoid;
}

.catalog ul {
  margin-left: 0;
  list-style: none;
}

.catalog li {
  line-height: 2em;
  border-bottom: thin solid #e0e0e0;
}

.catalog li span:last-child {
  color: #999;
}

.catalog p {
  margin-bottom: 0;
}

.catalog input[type=checkbox] {
  margin-top: 0;
}

.catalog form {
  margin-bottom: 0;
  padding: 1em;
}

/* ~aside */
aside h2 {
  color: #999;
  font-size: 0.9em;
  text-transform: uppercase;
}

.credits {
  margin-top: 0.75em;
  color: #ccc;
  font-size: 2em;
}

.credits span {
  color: #333;
  font-size: 3em;
}

/* ~footer */
footer {
  margin: 2em 0;
  padding: 1em 0;
  padding-bottom: 15em;
  border-top: thin solid #e0e0e0;
}

footer > p {
  margin-bottom: 0;
  color: #999;
  text-align: center;
  font-size: 0.9em;
}

@media screen and (max-width: 976px) {
  body {
    padding-top: 0px;
  }
}
